

 .cloths-navbar{
    display: flex;
    align-items: center; 
    padding: 0px 20px;
    height: 60px;
    background: #C0EEE4;
    border-bottom: 1px solid gray;
    @apply justify-around 
    
}
.logo__text{
    @apply flex gap-1
}
.Dental__logo{ 
    border-radius: 50%;
    @apply w-[35px] h-[35px]
}





.menu{
    display: flex;
    gap: 40px;
   
    
}

.menu {
    list-style: none;
    letter-spacing: 2px;
    font-size: 15px;
    color: black;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: bold;
    line-height: 5px;
}


.menu li:hover{
    cursor: pointer;
    color: black;
 


    
  
 
}

.navbar__icon{
    font-size: 25px;
    cursor: pointer;
    display: none;
    
}
.signImg{
    border-radius: 50%;
    @apply w-[30px] h-[30px] 
}
.NavBar__btn{
    @apply  flex bg-blue-700  text-white rounded-md w-[90px] h-[25px] p-2 
}
.img__btn{
    transform: translateX(140px);
    @apply flex gap-2  
}



@media (max-width:800px) {

    .cloths-navbar{
        
        @apply justify-between
        
    }
    .navbar__icon{
        display: flex;
        color: black;
         padding: 0px;
    }
    .menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: -100%;
        margin-top: 60px;
        background: #C0EEE4;
        height: 55vh;
        width: 100%;
        z-index: 999;
        gap: 40px;
        /* padding-top: 20px; */
        text-align: center;
        transition: .5s ease-in-out;
        color: white;
        padding-top: 20px;
        
    }

    
    .NavBar__btn{
        @apply  flex text-center  justify-center p-2 w-[100px]
    }
    .menu.active{
        position: absolute;
        left: 0;
    }
    
    .nav-search{
        padding: 2px 3px 2px 3px;
        margin-left: 150px;
        justify-items: center;
        width: 150px;
    }
   

}



